/* Color scheme*/
:root {
  --darkest: black;
  --darker: rgb(9, 9, 73);
  --dark: darkblue;
  --medium: cornflowerblue;
  --light: skyblue;
  --lighter: silver;
  --lightest: ivory;
}

/* Content highlight and background colors*/
::selection {
  background-color: var(--lighter);
  color: var(--darkest);
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--lightest);
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-variant: small-caps;
}

.employee-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../images/OIP.jpg");
  background-size: cover;
  margin: 1em;
  max-width: 280px;
  width: 90%;
  min-height: 22rem;
  color: var(--lightest);
  border: none;
  box-shadow: 5px 5px 10px var(--darkest);
}

.team-heading {
  background-image: url("../images/OIP.jpg");
  background-position: center;
  background-size: auto;
  border-bottom: 5px solid var(--darkest);
  box-shadow: 5px 5px 10px var(--darkest);
  background-color: var(--lighter);
}

.team-area {
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 3em auto;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intern {
  background-color: darkgreen;
  color: #fff;
  font-weight: bold;
}

.engineer {
  background-color: var(--darker);
  color: #fff;
  font-weight: bold;
}

.manager {
  background-color: purple;
  color: #fff;
  font-weight: bold;
}

.list-group-item {
  text-decoration: none;
  color: var(--dark);
}
